{% extends 'ads/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Create New Ad</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.image.errors %}
        <div class="alert alert-danger">
            {% for error in form.image.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
        <button type="submit" class="btn btn-primary">Create Ad</button>
    </form>
</div>
{% endblock %}
